@charset "UTF-8";
@font-face {
    font-family: 'Titulo';
    src: url(Fontes/MonteCarlo/MonteCarlo-Regular.ttf);
}

:root{
    --cor1: #F5E1DA;
    --cordf: #f5dcda;
    --cor2: #F5E6DA;
    --rosa: #F5DAE2;
    --cor3: #F5EADA;
    --cor4: #F0DBD3;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cordf);
}
header{
    padding-top: 40px;
    min-height: 100px;
    background-image: linear-gradient(to bottom, #EAD1DC, #E8A9A9 );
}
header h1{
    position: absolute;
    top: 25px;
    left: 30px;
    font-family: 'Titulo';
    font-size: 3.5em;
    color: white;
    letter-spacing:6px
}
nav{
    background-color: #E8A9A9;
    padding: 0 15px;
}
nav a{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 0 20px;
    text-decoration: none;
}
nav a:hover{
    background-color: #D19494;
    border-radius: 7px;
    transition: 0.6s;
}
main{
    background-color: white;
    margin: auto;
    min-width: 250px;
    max-width: 1200px;
}
div.centro{
    display: flex;
    justify-content: center;
}

